<% layout('../Shared/layout') -%>

<script type="application/x-javascript">
	addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
</script>
<!-- web font -->
<link href='//fonts.googleapis.com/css?family=Athiti:400,200,300,500,600,700' rel='stylesheet' type='text/css'>
<!-- //web font -->

<!-- main -->
<div class="main-agile">
	<div id="w3ls_form" class="signin-form <%=(typeof signupErrors != 'undefined')? 'flipped' :'' %>">
		<!-- Sign In Form -->
		<form id="signin" action="/login/signin" method="post">
			<div class="ribbon"><a href="#" id="flipToRecover" class="flipLink" title="Click Here to SignUp">Sign Up</a></div>
			<h2>Sign In Form</h2>
			<ul>
				<% if ( typeof infoMessage != "undefined" ) { %>
					<li class="alert-warning" style="color:red;">
						<%= infoMessage.message %>
					</li>
				<% } %>
			</ul>
			<p>Email</p>
			<input type="text" name="email" placeholder="" />
			<p>Password</p>
			<input type="password" name="password" placeholder="" />
			<input type="checkbox" id="brand" value="">
			<label for="brand"><span></span> Remember me ?</label>
			<input type="submit" value="SIGN IN">
			<div class="signin-agileits-bottom">
				<p><a href="#">Forgot password ?</a></p>
			</div>
			<div class="social-icons">
				<ul>
					<li><a href="#"><span class="icons"></span><span class="text">Sign in with Facebook</span></a></li>
					<li class="twt"><a href="#"><span class="icons"></span><span class="text">Sign in with Twitter</span></a></li>
				</ul>
				<div class="clear"> </div>
			</div>
		</form>
		<!-- //Sign In Form -->
		<!-- Sign up Form-->
		<form method="post" id="signup" action="/login/signup">
			<div class="ribbon"><a href="#" id="flipToRecover1" class="flipLink" title="Click Here to signin">Sign In</a></div>
			<h3>Sign Up Form</h3>
			<ul>
				<% if ( typeof signupErrors != "undefined" ) { %>
					<% signupErrors.forEach(function(error) { %>
					<li class="alert-warning" style="color:red;">
						<%= error.msg %>
					</li>
					<% }); %>
				<% } %>
			</ul>
			<p>Full Name </p>
			<input type="text" name="FullName" placeholder="" />
			<p>Your Email </p>
			<input type="text" name="Email" placeholder="" />
			<p>Password</p>
			<input type="password" name="Password" placeholder="" />
			<input type="checkbox" id="brand1" value="">
			<label for="brand1"><span></span>I accept the terms of use</label>
			<input type="submit" value="SIGN UP">
		</form>
		<!-- Sign up Form-->
	</div>

</div>
<!-- //main -->