 <!-- notification for small viewports and landscape oriented smartphones -->
  <div class="device-notification">
    <a class="device-notification--logo" href="#0">
    <img src="/img/logo.png" alt="Ada">
    <p>Ada</p>
  </a>
    <p class="device-notification--message">Ada has so much to offer that we must request you orient your device to portrait or find a larger screen. You won't be
      disappointed.
    </p>
  </div>